MediaFireSDK/MediaFireSDK.xcodeproj/project.xcworkspace/xcuserdata
MediaFireSDK/MediaFireSDK.xcodeproj/xcuserdata
/.DS_Store
/MediaFireSDKDemo/.DS_Store
/MediaFireSDKDemo/MFSDK Demo/.DS_Store
/MediaFireSDKDemo/MFSDK Demo/MFSDK Demo.xcodeproj/project.xcworkspace/xcuserdata/
/MediaFireSDKDemo/MFSDK Demo/MFSDK Demo.xcodeproj/xcuserdata/
