MediaFireSDK/MediaFireSDK.xcodeproj/project.xcworkspace/xcuserdata/daniel.xcuserdatad/xcdebugger/Expressions.xcexplist
MediaFireSDK/MediaFireSDK.xcodeproj/project.xcworkspace/xcuserdata/daniel.xcuserdatad/UserInterfaceState.xcuserstate
MediaFireSDK/MediaFireSDK.xcodeproj/xcuserdata/daniel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
